.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 25px;
  padding-left: 20px;
  padding-top: 20px;
  margin: 20px;
  width: 320px;
  height: 200px;
  color: white;
  background-image: url(./img/card.png);
  background-position: -30px 0px;
  background-size: cover;
}
.sin-background{
  background-color: transparent;
}
.ingresos{
  gap: 50px;
}
.ingr{
  color: rgb(52, 170, 52);
  font-size: small;
  font-weight: bold;
}
.egresos{
  color: rgb(233, 80, 80);
  font-size: small;
  font-weight: bold;
}
.triangulo1{
  background-color: transparent;
  color: rgb(52, 170, 52);
  display: flex;
  justify-content: center;
}
.triangulo2{
  background-color: transparent;
  color: rgb(233, 80, 80);
  display: flex;
  justify-content: center;
}
.grande{
  font-size: x-large;
}
.card-number{
  text-align: right;
  padding-right: 20px;
  font-size: large;
}
.chico{
  font-size: xx-small;
  height: 10px;
}
.card-datos{
  display: flex;
  gap: 20px;
}
.card2{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 25px;
  padding: 20px;
  margin: 20px;
  width: 320px;
  height: 200px;
  padding-left: 9%;
  color: white;
  background-image: url(./img/card2.png);
  background-size: cover;
  color: black;
}
.revenues{
  font-size: x-large;
}
.card3{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 25px;
  padding: 20px;
  margin: 20px;
  padding-left: 9%;
  width: 320px;
  height: 200px;
  color: white;
  background-image: url(./img/card3.png);
  background-position: 0px 3px;
  background-size: cover;
  color: black;
}
.cards{
  display: flex;
  justify-content: center;
  padding-top: 1%;
  padding-left: 15%;
  flex-wrap: wrap;
}
span{
  border: 1px solid white;
}
input{
  border: 1px solid white;
}
.search{
  width: 610px;
  height: 30px;
}

.buscador{
  display: flex;
  justify-content: center;
  padding-top: 1%;
  padding-left: 11.5%;
}
h2{
  color: black;
  display: flex;
  padding-left: 11%;
  padding-top: 2%;
}
.circulo {
  width: 40px;
  height: 40px;  
  border-radius: 50%;
  border: 1px solid rgb(116, 113, 113); 
  display: flex;
  justify-content: center;
  align-items: center;
  color: #918888;

}
.contenedor{
  gap: 10%;
}
button:hover{
background-color: white;
}
.bold{
  color: black;
  font-weight: bold;
}
@media only screen and (min-width:320px) and (max-width:768px){
  .contenedor{
    display: flex;
    flex-direction: column;
  }
  h2{
    text-align: center;
  }
  input{
    display: none;
  }
  span{
    display: none;
  }
  .circulo{
    display: none;
  }
  .bold{
    display: none !important;
  }
  .card{
    background-position: 240px 0px;
    background-size: cover;
  }
}
@media (max-width:1020px){
  .no-mostrar{
    display: none;
  }
}


