.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 25px;
  padding: 20px;
  margin: 20px;
  width: 250px;
  height: 150px;
  text-align: center;
  color: white;
  background-image: url(./img/card.png);
  background-position: -100px 0px;
}
.card2{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 25px;
  padding: 20px;
  margin: 20px;
  width: 250px;
  height: 150px;
  text-align: center;
  color: white;
  background-image: url(./img/card2.png);
}
.card3{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 25px;
  padding: 20px;
  margin: 20px;
  width: 250px;
  height: 150px;
  text-align: center;
  color: white;
  background-image: url(./img/card3.png);
  background-position: 0px 3px;
}
.cards{
  display: flex;
  justify-content: center;
  padding-top: 5%;
  padding-left: 12%;
}


