<div class="container d-flex contenedor">
  <form class="form-inline my-2 my-lg-0 buscador">
    <div class="input-group">
      <div class="input-group-prepend d-flex search">
        <span class="input-group-text bg-white border-right-0" style="border-radius: 50px 0 0 50px;"><i
            class="fa fa-search"></i></span>
        <input class="form-control py-2 border-left-0" type="search" placeholder="Buscar aquí" id="example-search-input"
          style="border-radius: 0 50px 50px 0;">
      </div>
    </div>
  </form>
  <div class="d-flex gap-3 mt-2">
    <button class="circulo">
      <i class="fas fa-cog"></i>
    </button>
    <button class="circulo">
      <i class="fas fa-bell"></i>
    </button>
    <button class="circulo">
      <img src="" alt="">
    </button>
    <p class="d-flex mt-1 bold">{{client.firstName}} {{client.lastName}}</p>
  </div>
</div>

<h2 class="container">Inicio</h2>
<div class="cards" *ngFor="let card of client.cards">
  <div class="card">
    Mi saldo<br>
    <p class="sin-background"><strong class="sin-background grande">${{card.balance | number}}</strong></p>
    <p class="sin-background card-number">{{card.number}}</p>
    <div class="sin-background card-datos">
      <div class="sin-background">
        Titular Tarjeta<br>
        <p class="sin-background"><strong class="sin-background">{{client.firstName}} {{client.lastName}}</strong></p>
      </div>
      <div class="sin-background">
        Válida hasta <br>
        <p class="sin-background"><strong class="sin-background">{{card.thruDate | date: 'MM/yy'}}</strong></p>
      </div>
      <div>
      </div>
    </div>
  </div>
  <div class="card2 d-flex ingresos">
    <div class="sin-background">
      Ingresos<br>
      <p class="sin-background revenues"><strong class="sin-background">${{card.revenues | number}}</strong></p>
    </div>
    <div class="sin-background">
      <i class="fas fa-caret-up triangulo1"></i>
      <p class="sin-background ingr" *ngIf="card.balance !== undefined && card.revenues !== undefined && card.expenditures !== undefined">
        +{{ ((card.revenues || 0) / (card.balance + (card.revenues || 0) + (card.expenditures || 0))) * 100 | number: '1.1-1' }}%
    </p>    
    </div>
  </div>
  <div class="card3 d-flex ingresos">
    <div class="sin-background">
      Egresos <br>
      <p class="sin-background revenues"><strong class="sin-background">${{card.expenditures | number}}</strong></p>
    </div>
    <div class="sin-background" >
      <i class="fas fa-caret-down triangulo2"></i>
      <p class="sin-background egresos" *ngIf="card.balance !== undefined && card.revenues !== undefined && card.expenditures !== undefined">
        - {{ ((card.expenditures || 0) / (card.balance + (card.revenues || 0) + (card.expenditures || 0))) * 100 | number: '1.1-1' }}%
      </p>
    </div>
  </div>
</div>