<div class="container d-flex contenedor">
  <form class="form-inline my-2 my-lg-0 buscador">
    <div class="input-group">
      <div class="input-group-prepend d-flex search">
        <span class="input-group-text bg-white border-right-0" style="border-radius: 50px 0 0 50px;"><i
            class="fa fa-search"></i></span>
        <input class="form-control py-2 border-left-0" type="search" placeholder="Buscar aquí" id="example-search-input"
          style="border-radius: 0 50px 50px 0;">
      </div>
    </div>
  </form>
  <div class="d-flex gap-3 mt-2">
    <button class="circulo">
      <i class="fas fa-cog"></i>
    </button>
    <button class="circulo">
      <i class="fas fa-bell"></i>
    </button>
    <button class="circulo">
      <img src="" alt="">
    </button>
    <p class="d-flex mt-1 bold">Nombre</p>
  </div>


</div>

<h2>Inicio</h2>
<div class="cards">
  <div class="card"></div>
  <div class="card2"></div>
  <div class="card3"></div>
</div>