<div class="container-fluid">
    <div class="row justify-content-center align-items-center" style="height: 100vh;">
        <!-- División izquierda - Bienvenido a Unicomer -->
        <div class="col-5 bg-primary text-white">
            <div class="text-center">
                <h1>Bienvenidos a Unicomer</h1>
            </div>
        </div>

        <!-- División derecha - Formulario de Login -->
        <div class="col-7 form-login">
            <div class="card mt-5">
                <div class="card-body">
                    <h1 class="text-center">Inicio de sesión</h1>
                    <form>
                        <div class="form-group">
                            <label for="documentType">Tipo de documento</label>
                            <input type="text" class="form-control" id="documentType" placeholder="DNI">
                        </div>
                        <div class="form-group">
                            <label for="documentNumber">Número de documento</label>
                            <input type="text" class="form-control" id="documentNumber" placeholder="4868897">
                        </div>
                        <div class="form-group">
                            <label for="password">Clave</label>
                            <input type="password" class="form-control" id="password" placeholder="********">
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Ingresar</button>
                    </form>
                    <p class="text-center mt-3">¿No tienes cuenta? <a href="#">Regístrate aquí</a></p>
                </div>
            </div>
        </div>
    </div>
</div>