.sidebar {
  width: 15%;
  position: fixed;
  height: 95%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 20px;
  background-color: white;
}

.logo {
  margin-bottom: 20px;
  background-color: white;
}

a {
  background-color: white;
  text-decoration: none;
  color: #918888;
  margin-top: 30px;

}
a:hover{
  color: black;
}

i {
  padding-left: 20px;
  padding-right: 30px;
  width: 5;
  height: 0px;
  background-color: white;
}
.rounded-icon {
  display: inline-flex;
  justify-content: center;
  align-self: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: rgb(70, 200, 233); 
  padding-top: 14px;
  padding-left: 10px;
  margin-right: 11px;
}
.home{
  margin-left: 10px;
}


