<div class="sidebar">
    <div class="logo">Logo</div>
    <a routerLink="/home" class="home">
        <div class="rounded-icon">
            <i class="fas fa-home icon"></i>
        </div>{{menu.menu}}
    </a>
    <a routerLink="/cards"><i class="far fa-credit-card"></i>{{menu.cards}}</a>
    <a routerLink="/addLoan"><i class="fas fa-money-bill-wave"></i>{{menu.loans}}</a>
    <a routerLink="/operations"><i class="fas fa-exchange-alt"></i>{{menu.operations}}</a>
    <a href="#"><i class="fas fa-tag"></i>
        {{menu.offers}}</a>
    <a href="#"><i class="fas fa-shield-alt"></i>
        {{menu.insurance}}</a>
    <a href="#"><i class="fas fa-gift"></i>
        {{menu.points}}</a>
    <a href="#"><i class="fas fa-question-circle"></i>
        {{menu.help}}</a>
    <a href="#"><i class="fas fa-sign-out-alt" (click)="logout()"></i>{{menu.logout}}</a>
</div>

<div class="collapse" id="navbarToggleExternalContent">
    <div class="p-4 burger-menu">
        <a href="#">Inicio</a><br>
        <a href="#">Tarjetas</a><br>
        <a href="#">Préstamos</a><br>
        <a href="#">Operaciones</a><br>
        <a href="#"> Te ofrecemos</a><br>
        <a href="#"> Seguros</a><br>
        <a href="#">Puntos</a><br>
        <a href="#"> Ayuda</a><br>
        <a href="#">Cerrar sesión</a>
    </div>
</div>
<nav class="navbar">
    <div class="container-fluid d-flex">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="d-flex gap-3 mt-2">
            <button class="circulo">
                <i class="fas fa-cog"></i>
            </button>
            <button class="circulo">
                <i class="fas fa-bell"></i>
            </button>
            <button class="circulo">
                <img src="" alt="">
            </button>
            <p class="d-flex mt-1 bold">Nombre</p>
        </div>
    </div>
</nav>