<div class="sidebar">
    <div class="logo">Logo</div>
    <a href="#" class="home">
        <div class="rounded-icon">
            <i class="fas fa-home icon"></i>
        </div>Inicio
        
    </a>
    <a href="#"><i class="far fa-credit-card"></i>Tarjetas</a>
    <a href="#"><i class="fas fa-money-bill-wave"></i>Préstamos</a>
    <a href="#"><i class="fas fa-exchange-alt"></i>Operaciones</a>
    <a href="#"><i class="fas fa-tag"></i>
        Te ofrecemos</a>
    <a href="#"><i class="fas fa-shield-alt"></i>
        Seguros</a>
    <a href="#"><i class="fas fa-gift"></i>
        Puntos</a>
    <a href="#"><i class="fas fa-question-circle"></i>
        Ayuda</a>
    <a href="#"><i class="fas fa-sign-out-alt"></i>Cerrar sesión</a>
</div>