.sidebar {
  width: 15%;
  position: fixed;
  height: 95%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 20px;
  background-color: white;
}

.logo {
  margin-bottom: 20px;
  background-color: white;
}

a {
  background-color: white;
  text-decoration: none;
  color: #918888;
  margin-top: 30px;

}
a:hover{
  color: black;
}

i {
  padding-left: 20px;
  padding-right: 30px;
  width: 5;
  height: 0px;
  background-color: white;
}
.rounded-icon {
  display: inline-flex;
  justify-content: center;
  align-self: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: rgb(70, 200, 233); 
  padding-top: 14px;
  padding-left: 10px;
  margin-right: 11px;
}
.circulo {
  width: 40px;
  height: 40px;  
  border-radius: 50%;
  border: 1px solid rgb(116, 113, 113); 
  display: flex;
  justify-content: center;
  align-items: center;
  color: #918888;
}
button{
  padding-left: 5%;
  padding-bottom: 6%;
}
button:hover{
  background-color: white;
  }
.home{
  margin-left: 10px;
}
.burger-menu{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.burger-menu a{
  width: 10%;
  background-color: #f1f1f1;
  margin-top: 1px;
  font-weight: bold;
}
.burger-menu a:hover{
  color: black;
}
.unicomer {
  color: rgb(48, 0, 124);
  font-weight: bold;
  text-align: center;
  padding-left: 15%;
}

@media only screen and (min-width:320px) and (max-width:768px){
  .sidebar{
    display: none;
  }
}
@media (min-width:1020px){
nav{
  display: none;
}
}
