<div class="container tabla">
  <div class="table-responsive">
    <table class="table table-striped table-rounded" *ngFor="let card of client.cards">
      <thead>
        <tr>
          <th>Últimas transacciones</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transaction of card.transactions">
          <td class="d-flex">
            <span
              [ngStyle]="{
                'background-color': transaction.transactionType === 'DEBITO' ? 'red' : 'green',
                'padding': '10px',
                'border-radius': '50%',
                'display': 'inline-flex',
                'align-items': 'center',
                'justify-content': 'center'
              }">
            <i class="fas fa-arrow-down" [style.backgroundColor]="transaction.transactionType === 'DEBITO' ? 'red' : 'green'" [style.color]="'white'" [style.transform]="transaction.transactionType === 'DEBITO' ? 'rotate(225deg)' : 'rotate(45deg)'"></i>

            </span>
            <p class="name">{{transaction.description}}</p>
          </td>
          <td>${{transaction.amount}}</td>
          <td>{{ transaction.date | date:'MMMM dd, yyyy' }}</td>
          <td [ngStyle]="{'color': transaction.transactionState === 'CONFIRMED' ? 'green' : (transaction.transactionState === 'CANCELED' ? 'red' : 'grey')}">{{transaction.transactionState?.toLowerCase()}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
