<div class="container tabla">
  <div class="table-responsive">
    <table class="table table-striped table-rounded">
      <thead>
        <tr>
          <th>Últimas transacciones</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="d-flex">
            <span
              style="background-color: rgb(72, 221, 72); padding: 10px; border-radius: 50%; display: inline-flex; align-items: center; justify-content: center;">
              <i class="fas fa-arrow-down" style="transform: rotate(45deg); margin: 0; padding: 0;"></i>
            </span>
            <p class="name">Karen Hope</p>
          </td>
          <td>$50,034</td>
          <td>28 Ene, 2023</td>
          <td>Completado</td>
        </tr>
        <tr>
          <td class="d-flex">
            <span
              style="background-color: red; padding: 10px; border-radius: 50%; display: inline-flex; align-items: center; justify-content: center;">
              <i class="fas fa-arrow-up" style="transform: rotate(45deg); margin: 0; padding: 0;"></i>
            </span>
            <p class="name2">Lucila Alochis</p>
          </td>
          <td>$50,034</td>
          <td>28 Ene, 2023</td>
          <td>Completado</td>
        </tr>

      </tbody>
    </table>
  </div>
</div>