.table-rounded {
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  }
  .table-rounded thead th {
    background-color: #f1f1f1;
  }
  .table-rounded tbody tr:first-child th,
  .table-rounded tbody tr:first-child td {
    background-color: white;
    color: black;
  }
  .table-rounded tbody tr {
    background-color: white;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .table-rounded tbody tr:hover {
    background-color: #f5f5f5;
  }
  td{
    padding: 20px;
  }
  table{
    width: 97%;
  }
  .selected-row {
    background-color: #f5f5f583; 
  }
  .btn-pagar{
    background-color: rgb(151, 51, 218);
    width: 50%;
  }
  .btn-cancelado{
    background-color: rgb(165, 105, 204);
    width: 50%;
  }
  